* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

.container {
  max-width: 1280px;
  margin: auto;
}

.container::after {
  content: "";
  display: table;
  clear: both;
}

.text-uppercase {
  text-transform: uppercase;
}

a {
  text-decoration: none;
}

input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
  -webkit-appearance: none;
}

.jumbotron {
  background-image: url("/../images/jumbotron.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 280px;
}

.navbar-top {
  background-color: #0282f9;
  text-align: right;
}
.navbar-top a {
  display: inline-block;
  padding: 5px;
}
.navbar-top a:first-of-type {
  margin-right: 40px;
}
.navbar-top a p {
  color: #ffffff;
  font-size: 12px;
  font-weight: bold;
  transition: all 0.3s;
}
.navbar-top a:hover p {
  color: #cccccc;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav .logo {
  width: 10%;
}
nav .nav-menu {
  width: 80%;
}
nav ul li {
  display: inline-block;
}
nav ul li a {
  font-weight: bold;
  color: #464646;
  line-height: 120px;
  display: inline-block;
  margin: 0 15px;
  transition: all 0.3s;
  border-bottom: 0px solid #0282f9;
}
nav ul li a.active {
  border-bottom: 5px solid #0282f9;
}
nav ul li a:hover {
  color: #0282f9;
  border-bottom: 5px solid #0282f9;
}
nav .navbar-search {
  width: 10%;
}
nav .navbar-search #search {
  border: none;
  border-bottom: 2px solid #0282f9;
  text-align: right;
  padding-right: 20px;
  text-transform: capitalize;
  font-weight: bold;
  font-size: 1em;
  background-image: url("/../images/search.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
  outline: none;
  width: 100%;
}

.comic-thumb-section {
  background-color: #0282f9;
}
.comic-thumb-section .comic-thumb-wrapper {
  position: relative;
  padding: 50px 0;
}
.comic-thumb-section .comic-thumb-wrapper .comic-thumb {
  position: absolute;
  bottom: 20%;
  left: 0;
  border: 2px solid white;
}
.comic-thumb-section .comic-thumb-wrapper .comic-thumb .comic-thumb-info {
  position: relative;
}
.comic-thumb-section .comic-thumb-wrapper .comic-thumb .comic-thumb-info img {
  display: block;
}
.comic-thumb-section .comic-thumb-wrapper .comic-thumb .comic-thumb-info span {
  position: absolute;
  background-color: #319bfd;
  left: 0;
  color: #ffffff;
  font-size: 13px;
  padding: 3.3333333333px;
}
.comic-thumb-section .comic-thumb-wrapper .comic-thumb .comic-thumb-info span:first-of-type {
  top: 0;
}
.comic-thumb-section .comic-thumb-wrapper .comic-thumb .comic-thumb-info span:last-of-type {
  bottom: 0;
  right: 0;
  text-align: center;
}

#series {
  background-color: #1c1c1c;
}

.title-section {
  color: white;
  background-color: #0282f9;
  display: inline-block;
  transform: translateY(-50%);
}
.title-section h2 {
  padding: 10px 40px;
  font-size: 40px;
}

.card-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.card-wrapper .card {
  margin-right: 20px;
  margin-top: 20px;
  flex-basis: 175px;
}
.card-wrapper .card img {
  width: 175px;
  height: 175px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
  margin-bottom: 10px;
}
.card-wrapper .card p {
  color: #ffffff;
}

.load-more {
  padding-top: 40px;
  padding-bottom: 20px;
  text-align: center;
}
.load-more button {
  padding: 10px 60px;
  font-weight: bold;
  color: #ffffff;
  background-color: #0282f9;
  outline: none;
  box-shadow: none;
  border: none;
  transition: all 0.3s;
  cursor: pointer;
}
.load-more button:hover {
  background-color: #319bfd;
}

#buy-sections {
  background-color: #0282f9;
  color: #ffffff;
}

.buy-menu {
  padding: 60px 0;
  display: flex;
  justify-content: space-between;
}
.buy-menu .digital-comics {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
}
.buy-menu .digital-comics img {
  height: 55px;
  margin-right: 10px;
}
.buy-menu .digital-comics p {
  font-size: 14px;
}
.buy-menu .digital-comics:last-of-type > img {
  width: 60px;
}

footer {
  background-image: url("/../images/footer-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: #ffffff;
}
footer .footer-top .container {
  background-image: url("/../images/dc-logo-bg.png");
  background-repeat: no-repeat;
  background-position: right;
}
footer .footer-top .footer-menu {
  padding-top: 40px;
  float: left;
  width: 50%;
  height: 100%;
}
footer .footer-top .footer-menu .single-menu {
  width: 30%;
  float: left;
  margin-right: 20px;
}
footer .footer-top .footer-menu .single-menu h3 {
  margin: 20px 0 10px 0;
}
footer .footer-top .footer-menu .single-menu li {
  list-style-type: none;
}
footer .footer-top .footer-menu .single-menu a {
  text-decoration: none;
  color: #959595;
  text-transform: capitalize;
  padding-bottom: 6.6666666667px;
  display: inline-block;
  transition: all 0.3s;
}
footer .footer-top .footer-menu .single-menu a:hover {
  color: #0282f9;
}
footer .footer-top .credits {
  font-size: 12px;
}
footer .footer-top .credits p {
  color: #959595;
}
footer .footer-top .credits a {
  color: #0282f9;
}
footer .footer-bottom {
  background-color: #303030;
  padding: 40px 0;
}
footer .footer-bottom .container {
  display: flex;
  justify-content: space-between;
}
footer .footer-bottom .container .button {
  background-color: #303030;
  padding: 16px;
  font-weight: bold;
  color: #ffffff;
  outline: none;
  border: 2px solid #0282f9;
  transition: all 0.3s;
  letter-spacing: 1px;
  cursor: pointer;
}
footer .footer-bottom .container .button:hover {
  background-color: #0282f9;
}