$main-color: #0282f9;
$text-white: #ffffff;
$text-dark: #464646;
$text-footer: #959595;
$text-comic-title: #003f5e;
$dark-background: #1c1c1c;
$bg-footer-bottom: #303030;
$comic-thumb-size: 175px;
$spacing: 20px;
$social-icon: facebook, twitter, youtube, pinterest, periscope;
